
.titulo-principal {
    padding-left: 30px;
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 20px;
}
p {
    text-align: center;
    font-style: 20px;
    background: #CCCCCC;
}

.titulo-centralizado {
    text-align: center;
    background: #CCCCCC;
}

em strong {
    color: red;
}

.diferenciales {
    background: #FFFFFF;
    padding: 30px;
}



.items {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales {
    width: 50%;
}